In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>")) # sets width of notebook cell
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [5]:
def missing_values(df: pd.DataFrame) -> pd.DataFrame:
    """returns DataFrame with count and percentage of NaN values.
        Input:
            df: DataFrame
        Output:
            nan_df: DataFrame containing count and percentage of NaN values of input DataFrame
    """
    count = df.isnull().sum().sort_values(ascending=False)
    n = df.shape[0]
    nan_percentage = count / n*100
    nan_df = pd.concat([count,nan_percentage],axis = 1, keys=['Count', '% of null'])
    return nan_df 

def filter_columns(df: pd.DataFrame, excl_dtypes: list, excl_columns: list) -> list:
    """Returns list of columns without pre-specified datatypes and column names
        Inputs:
            df: pandas dataframe
            excl_dtypes:  list of excluded datatypes
            excl_columns: list of excluded columns
        Outputs:
            arr: python list of strings (column names)
    """
    return [col for col in df.columns if df[col].dtype not in excl_dtypes and col not in excl_columns]

def unique_values(arr: list, df: pd.DataFrame) -> dict:
    """Returns list of unique values for each column in input list
        Inputs:
            arr: list of columns
            df: dataframe
        Outputs:
            dict: dictionary of column_name:unique_values
    """
    
    d = {}
    for col in arr:
        d[col] =  df[col].nunique(),df[col].unique().tolist()
    return d

In [4]:
ins_pay = pd.read_csv('../data/raw/installments_payments.csv')
ins_pay.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [6]:
dtypes_filter = ['float64','int64']
columns_filter = ['SK_ID_CURR', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH']
filtered_cols = filter_columns(bureau, dtypes_filter, columns_filter)
non_continuous = unique_values(filtered_cols, bureau_bal)

for col, val in non_continuous.items():
    print('Column {} has {} distinct values.\n{}'.format(col,val[0],val[1]))
    print('-'*200)

NameError: name 'bureau' is not defined