In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>")) # sets width of notebook cell

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
app_train = pd.read_csv('../data/raw/application_train.csv')

In [4]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [5]:
print(f'Dataframe has {app_train.shape[0]} rows and {app_train.shape[1]} columns')

Dataframe has 307511 rows and 122 columns

Lets set columns display to number of columns, so we can scroll easily(rows too, just in case we wanted to transpose dataframe)

In [6]:
pd.set_option('display.max_columns', app_train.shape[1])
pd.set_option('display.max_rows', app_train.shape[1])

In [7]:
pd.DataFrame(app_train.dtypes).rename(columns={0:'DataType'}).T

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
DataType,int64,int64,object,object,object,object,int64,float64,float64,float64,float64,object,object,object,object,object,float64,int64,int64,float64,int64,float64,int64,int64,int64,int64,int64,int64,object,float64,int64,int64,object,int64,int64,int64,int64,int64,int64,int64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,object,float64,object,object,float64,float64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,float64,float64,float64,float64,float64,float64

In [8]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
app_train.drop(['SK_ID_CURR', 'TARGET'],axis=1).describe()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000,307511.000,307511.000,307499.000,307233.000,307511.000,307511.000,307511.000,307511.000,307511.000,104582.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307509.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,134133.000,306851.000,246546.000,151450.000,127568.000,157504.000,103023.000,92646.000,143620.000,152683.000,154491.000,98869.000,124921.000,97312.000,153161.000,93997.000,137829.000,151450.000,127568.000,157504.000,103023.000,92646.000,143620.000,152683.000,154491.000,98869.000,124921.000,97312.000,153161.000,93997.000,137829.000,151450.000,127568.000,157504.000,103023.000,92646.000,143620.000,152683.000,154491.000,98869.000,124921.000,97312.000,153161.000,93997.000,137829.000,159080.000,306490.000,306490.000,306490.000,306490.000,307510.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,307511.000,265992.000,265992.000,265992.000,265992.000,265992.000,265992.000
mean,0.417,168797.919,599026.000,27108.574,538396.207,0.021,-16036.995,63815.046,-4986.120,-2994.202,12.061,1.000,0.820,0.199,0.998,0.281,0.057,2.153,2.052,2.032,12.063,0.015,0.051,0.041,0.078,0.230,0.180,0.502,0.514,0.511,0.117,0.088,0.978,0.752,0.045,0.079,0.150,0.226,0.232,0.066,0.101,0.107,0.009,0.028,0.114,0.088,0.977,0.760,0.043,0.074,0.145,0.222,0.228,0.065,0.106,0.106,0.008,0.027,0.118,0.088,0.978,0.756,0.045,0.078,0.149,0.226,0.232,0.067,0.102,0.109,0.009,0.028,0.103,1.422,0.143,1.405,0.100,-962.859,0.000,0.710,0.000,0.015,0.088,0.000,0.081,0.004,0.000,0.004,0.000,0.004,0.003,0.001,0.010,0.000,0.008,0.001,0.001,0.000,0.006,0.007,0.034,0.267,0.265,1.900
std,0.722,237123.146,402490.777,14493.737,369446.461,0.014,4363.989,141275.767,3522.886,1509.450,11.945,0.002,0.384,0.400,0.043,0.450,0.231,0.911,0.509,0.503,3.266,0.122,0.220,0.197,0.268,0.421,0.384,0.211,0.191,0.195,0.108,0.082,0.059,0.113,0.076,0.135,0.100,0.145,0.161,0.081,0.093,0.111,0.048,0.070,0.108,0.084,0.065,0.110,0.074,0.132,0.101,0.144,0.161,0.082,0.098,0.112,0.046,0.070,0.109,0.082,0.060,0.112,0.076,0.134,0.100,0.145,0.162,0.082,0.094,0.112,0.047,0.070,0.107,2.401,0.447,2.380,0.362,826.808,0.007,0.454,0.009,0.122,0.283,0.014,0.273,0.062,0.005,0.062,0.003,0.059,0.054,0.035,0.099,0.016,0.090,0.024,0.023,0.018,0.084,0.111,0.205,0.916,0.794,1.869
min,0.000,25650.000,45000.000,1615.500,40500.000,0.000,-25229.000,-17912.000,-24672.000,-7197.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.015,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-4292.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,0.000,112500.000,270000.000,16524.000,238500.000,0.010,-19682.000,-2760.000,-7479.500,-4299.000,5.000,1.000,1.000,0.000,1.000,0.000,0.000,2.000,2.000,2.000,10.000,0.000,0.000,0.000,0.000,0.000,0.000,0.334,0.392,0.371,0.058,0.044,0.977,0.687,0.008,0.000,0.069,0.167,0.083,0.019,0.050,0.045,0.000,0.000,0.052,0.041,0.977,0.699,0.007,0.000,0.069,0.167,0.083,0.017,0.054,0.043,0.000,0.000,0.058,0.044,0.977,0.691,0.008,0.000,0.069,0.167,0.083,0.019,0.051,0.046,0.000,0.000,0.041,0.000,0.000,0.000,0.000,-1570.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
50%,0.000,147150.000,513531.000,24903.000,450000.000,0.019,-15750.000,-1213.000,-4504.000,-3254.000,9.000,1.000,1.000,0.000,1.000,0.000,0.000,2.000,2.000,2.000,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.506,0.566,0.535,0.088,0.076,0.982,0.755,0.021,0.000,0.138,0.167,0.208,0.048,0.076,0.074,0.000,0.004,0.084,0.075,0.982,0.765,0.019,0.000,0.138,0.167,0.208,0.046,0.077,0.073,0.000,0.001,0.086,0.076,0.982,0.758,0.021,0.000,0.138,0.167,0.208,0.049,0.076,0.075,0.000,0.003,0.069,0.000,0.000,0.000,0.000,-757.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
75%,1.000,202500.000,808650.000,34596.000,679500.000,0.029,-12413.000,-289.000,-2010.000,-1720.000,15.000,1.000,1.000,0.000,1.000,1.000,0.000,3.000,2.000,2.000,14.000,0.000,0.000,0.000,0.000,0.000,0.000,0.675,0.664,0.669,0.148,0.112,0.987,0.823,0.051,0.120,0.207,0.333,0.375,0.086,0.121,0.130,0.004,0.028,0.144,0.112,0.987,0.824,0.049,0.121,0.207,0.333,0.375,0.084,0.131,0.125,0.004,0.023,0.149,0.112,0.987,0.826,0.051,0.120,0.207,0.333,0.375,0.087,0.123,0.130,0.004,0.027,0.128,2.000,0.000,2.000,0.000,-274.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000
max,19.000,117000000.000,4050000.000,258025.500,4050000.000,0.073,-7489.000,365243.000,0.000,0.000,91.000,1.000,1.000,1.000,1.000,1.000,1.000,20.000,3.000,3.000,23.000,1.000,1.000,1.000,1.000,1.000,1.000,0.963,0.855,0.896,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,348.000,34.000,344.000,24.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,9.000,8.000,27.000,261.000,25.000

In [ ]:
365243/365.24

In [ ]:
app_train['AMT_INCOME_TOTAL'].mode()

## Notes
- children max 19!
- AMT_INCOME_TOTAL
    - max is 117000000.000 	(seems extremely high), while mode is 135000.000
- max days employed is 365243 (+- 1000y)
    - every other DAYS_* Feature is negative number 
- OWN_CAR_AGE 
    - max is 91
- OBS_30_CNT_SOCIAL_CIRCLE
    - How many observation of client's social surroundings with observable 30 DPD (days past due) default
- DEF_30_CNT_SOCIAL_CIRCLE
    - How many observation of client's social surroundings defaulted on 30 DPD (days past due) 

What is meaning of  'observations of client social surroundings' ?
    - what ?
    - how ?

In [ ]:
pd.reset_option('display.float_format')

Check for missing Data

In [10]:
def missing_values(df: pd.DataFrame) -> pd.DataFrame:
    """returns DataFrame with count and percentage of NaN values.
        Input:
            df: DataFrame
        Output:
            nan_df: DataFrame containing count and percentage of NaN values of input DataFrame
    """
    count = df.isnull().sum().sort_values(ascending=False)
    n = df.shape[0]
    nan_percentage = count / n*100
    nan_df = pd.concat([count,nan_percentage],axis = 1, keys=['Count', '% of null'])
    return nan_df

In [11]:
missing_values(app_train)

                               Count  % of null
COMMONAREA_MEDI               214865     69.872
COMMONAREA_AVG                214865     69.872
COMMONAREA_MODE               214865     69.872
NONLIVINGAPARTMENTS_MODE      213514     69.433
NONLIVINGAPARTMENTS_MEDI      213514     69.433
NONLIVINGAPARTMENTS_AVG       213514     69.433
FONDKAPREMONT_MODE            210295     68.386
LIVINGAPARTMENTS_MEDI         210199     68.355
LIVINGAPARTMENTS_MODE         210199     68.355
LIVINGAPARTMENTS_AVG          210199     68.355
FLOORSMIN_MEDI                208642     67.849
FLOORSMIN_MODE                208642     67.849
FLOORSMIN_AVG                 208642     67.849
YEARS_BUILD_MEDI              204488     66.498
YEARS_BUILD_AVG               204488     66.498
YEARS_BUILD_MODE              204488     66.498
OWN_CAR_AGE                   202929     65.991
LANDAREA_MODE                 182590     59.377
LANDAREA_AVG                  182590     59.377
LANDAREA_MEDI                 182590     59.377
BASEMENTAREA_MEDI             179943     58.516
BASEMENTAREA_AVG              179943     58.516
BASEMENTAREA_MODE             179943     58.516
EXT_SOURCE_1                  173378     56.381
NONLIVINGAREA_MEDI            169682     55.179
NONLIVINGAREA_AVG             169682     55.179
NONLIVINGAREA_MODE            169682     55.179
ELEVATORS_MODE                163891     53.296
ELEVATORS_AVG                 163891     53.296
ELEVATORS_MEDI                163891     53.296
WALLSMATERIAL_MODE            156341     50.841
APARTMENTS_MODE               156061     50.750
APARTMENTS_AVG                156061     50.750
APARTMENTS_MEDI               156061     50.750
ENTRANCES_MEDI                154828     50.349
ENTRANCES_MODE                154828     50.349
ENTRANCES_AVG                 154828     50.349
LIVINGAREA_MEDI               154350     50.193
LIVINGAREA_MODE               154350     50.193
LIVINGAREA_AVG                154350     50.193
HOUSETYPE_MODE                154297     50.176
FLOORSMAX_MODE                153020     49.761
FLOORSMAX_MEDI                153020     49.761
FLOORSMAX_AVG                 153020     49.761
YEARS_BEGINEXPLUATATION_MEDI  150007     48.781
YEARS_BEGINEXPLUATATION_AVG   150007     48.781
YEARS_BEGINEXPLUATATION_MODE  150007     48.781
TOTALAREA_MODE                148431     48.269
EMERGENCYSTATE_MODE           145755     47.398
OCCUPATION_TYPE                96391     31.346
EXT_SOURCE_3                   60965     19.825
AMT_REQ_CREDIT_BUREAU_QRT      41519     13.502
AMT_REQ_CREDIT_BUREAU_YEAR     41519     13.502
AMT_REQ_CREDIT_BUREAU_WEEK     41519     13.502
AMT_REQ_CREDIT_BUREAU_MON      41519     13.502
AMT_REQ_CREDIT_BUREAU_DAY      41519     13.502
AMT_REQ_CREDIT_BUREAU_HOUR     41519     13.502
NAME_TYPE_SUITE                 1292      0.420
OBS_30_CNT_SOCIAL_CIRCLE        1021      0.332
OBS_60_CNT_SOCIAL_CIRCLE        1021      0.332
DEF_60_CNT_SOCIAL_CIRCLE        1021      0.332
DEF_30_CNT_SOCIAL_CIRCLE        1021      0.332
EXT_SOURCE_2                     660      0.215
AMT_GOODS_PRICE                  278      0.090
AMT_ANNUITY                       12      0.004
CNT_FAM_MEMBERS                    2      0.001
DAYS_LAST_PHONE_CHANGE             1      0.000
AMT_CREDIT                         0      0.000
FLAG_OWN_CAR                       0      0.000
FLAG_EMAIL                         0      0.000
TARGET                             0      0.000
FLAG_PHONE                         0      0.000
FLAG_CONT_MOBILE                   0      0.000
FLAG_WORK_PHONE                    0      0.000
FLAG_EMP_PHONE                     0      0.000
FLAG_MOBIL                         0      0.000
NAME_CONTRACT_TYPE                 0      0.000
CODE_GENDER                        0      0.000
FLAG_OWN_REALTY                    0      0.000
AMT_INCOME_TOTAL                   0      0.000
DAYS_ID_PUBLISH                    0      0.000
DAYS_REGISTRATION                  0      0.000
DAYS_EMPLOYED                      0      0.000
DAYS_BIRTH                         0      0.000
REGION_POPULATION_RELATIVE         0      0.000
REGION_RATING_CLIENT               0      0.000
NAME_FAMILY_STATUS                 0      0.000
NAME_EDUCATION_TYPE                0      0.000
NAME_INCOME_TYPE                   0      0.000
CNT_CHILDREN                       0      0.000
NAME_HOUSING_TYPE                  0      0.000
REG_REGION_NOT_LIVE_REGION         0      0.000
REGION_RATING_CLIENT_W_CITY        0      0.000
WEEKDAY_APPR_PROCESS_START         0      0.000
FLAG_DOCUMENT_2                    0      0.000
FLAG_DOCUMENT_3                    0      0.000
FLAG_DOCUMENT_4                    0      0.000
FLAG_DOCUMENT_5                    0      0.000
FLAG_DOCUMENT_6                    0      0.000
FLAG_DOCUMENT_7                    0      0.000
FLAG_DOCUMENT_8                    0      0.000
FLAG_DOCUMENT_9                    0      0.000
FLAG_DOCUMENT_10                   0      0.000
FLAG_DOCUMENT_11                   0      0.000
FLAG_DOCUMENT_12                   0      0.000
FLAG_DOCUMENT_13                   0      0.000
FLAG_DOCUMENT_14                   0      0.000
FLAG_DOCUMENT_15                   0      0.000
FLAG_DOCUMENT_16                   0      0.000
FLAG_DOCUMENT_17                   0      0.000
FLAG_DOCUMENT_18                   0      0.000
FLAG_DOCUMENT_19                   0      0.000
FLAG_DOCUMENT_20                   0      0.000
FLAG_DOCUMENT_21                   0      0.000
ORGANIZATION_TYPE                  0      0.000
LIVE_CITY_NOT_WORK_CITY            0      0.000
REG_CITY_NOT_WORK_CITY             0      0.000
REG_CITY_NOT_LIVE_CITY             0      0.000
LIVE_REGION_NOT_WORK_REGION        0      0.000
REG_REGION_NOT_WORK_REGION         0      0.000
HOUR_APPR_PROCESS_START            0      0.000
SK_ID_CURR                         0      0.000

In [ ]:
plt.figure(figsize=(30,10))
sns.heatmap(app_train.isnull(), cbar=False)
plt.show()

In [ ]:
test_dupl = app_train.iloc[:10,:]

In [ ]:
d = pd.concat([app_train, test_dupl],axis=0)

In [ ]:
test_dupl

In [ ]:
test_dupl.iloc[2,1:] = test_dupl.iloc[1,0:]

In [ ]:
d.shape

In [ ]:
print(f'DataFrame has {d.duplicated().sum()} duplicate rows.')
no_index_dupl = d.drop('SK_ID_CURR', axis=1).duplicated().sum()
print(f'DataFrame has {no_index_dupl} duplicate rows of data points. (ID is excluded)')

In [12]:
#WIP
def duplicates(df: pd.DataFrame, ID=None, check_dp=None):
    """
    """
    if check_dp and ID:
        no_index_dupl = app_train.drop(ID, axis=1).duplicated().sum()
        print(f'DataFrame has {no_index_dupl} duplicate rows of data points. (ID is excluded)')
    if ID:
        bool_dupl = df[ID].duplicated(keep = False)
        if bool_dupl.all() == False:
            print(f'Dataframe has no duplicate IDs ')
        else:
            return df[~bool_dupl]

In [13]:
print(f'DataFrame has {app_train.duplicated().sum()} duplicate rows.')
no_index_dupl = app_train.drop('SK_ID_CURR', axis=1).duplicated().sum()
print(f'DataFrame has {no_index_dupl} duplicate rows of data points. (ID is excluded)')

DataFrame has 0 duplicate rows.
DataFrame has 0 duplicate rows of data points. (ID is excluded)

In [14]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.500,24700.500,351000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,-3648.000,-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,-1134.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.500,35698.500,1129500.000,Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,-1186.000,-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.000,6750.000,135000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,-4260.000,-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.500,29686.500,297000.000,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,-9833.000,-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.000,21865.500,513000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,-4311.000,-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-1106.000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000

Lets look at unique values of non continous features.

In [15]:
def filter_columns(df: pd.DataFrame, excl_dtypes: list, excl_columns: list) -> list:
    """Returns list of columns without pre-specified datatypes and column names
        Inputs:
            df: pandas dataframe
            excl_dtypes:  list of excluded datatypes
            excl_columns: list of excluded columns
        Outputs:
            arr: python list of strings (column names)
    """
    return [col for col in df.columns if df[col].dtype not in excl_dtypes and col not in excl_columns]

In [16]:
def unique_values(arr: list, df: pd.DataFrame) -> dict:
    """Returns list of unique values for each column in input list
        Inputs:
            arr: list of columns
            df_name: name of dataframe
        Outputs:
            dict: dictionary of column_name:unique_values
    """
    
    d = {}
    for col in arr:
        d[col] =  df[col].nunique(),df[col].unique().tolist()
    return d

In [17]:
dtypes_filter = ['float64','int64']
columns_filter = ['SK_ID_CURR', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_ID_PUBLISH']
filtered_cols = filter_columns(app_train, dtypes_filter, columns_filter)
non_continuous = unique_values(filtered_cols, app_train)

In [ ]:
for col, val in non_continuous.items():
    print('Column {} has {} distinct values.\n{}'.format(col,val[0],val[1]))
    print('-'*200)

In [ ]:
def annotate_countplot(ax: plt.axes,fnt_size: int, xtext_offset=0):
    """Annotates barplot with count and percentages
        Inputs:
            ax: reference to pyplot axes object
            fnt_size: size of annotation font
            xtext_offset: shift xtext
    """
    for p in ax.patches:
        width, height = p.get_width(), p.get_height()
        x, y = p.get_xy()
        count, perc = height, height/len(app_train)
        ax.annotate('{}  ({:.1%})'.format(count, perc), xy=(x+0.2, y + height ),xytext=(x+xtext_offset, height*1.01),fontsize=fnt_size)

In [ ]:
fig, ax = plt.subplots(figsize=(7,5))
ax = sns.countplot(x='TARGET', data=app_train)
ax.set_title('Count (%) of Target variable')
annotate_countplot(ax,12,0.15)
plt.show()

Dependent variable is highly imbalanced.

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(12,5))
ax1 = sns.countplot(x='NAME_CONTRACT_TYPE', data=app_train,ax=ax[0])
ax2 = sns.countplot(x='NAME_CONTRACT_TYPE', data=app_train,hue='TARGET',ax=ax[1])
ax1.set_title('Count (%) of Loan Type')
annotate_countplot(ax1,10,0.08)
annotate_countplot(ax2,8,0.02)

Majority of loans are cash loans and payment difficulties happens almost twice as often in case of  cash loans,  in comparison with revolving loans.

In [ ]:
target_gender_df = app_train[['TARGET','CODE_GENDER']]
target_gender_df['CODE_GENDER'] = target_gender_df['CODE_GENDER'].map({'M':0, 'F':1}).astype('Int8')

In [ ]:
fig,ax = plt.subplots( figsize=(6,5))
ax = sns.countplot(x='TARGET',hue='CODE_GENDER', data=target_gender_df, ax=ax)
ax.legend(['Male','Female'])
annotate_countplot(ax,9)
plt.show()

Females are much more likely to repay loan without issues.

In [ ]:
app_train.groupby('CODE_GENDER')['TARGET'].value_counts(normalize=True).mul(100).rename('percent').reset_index().pipe((sns.catplot,'data'),x='CODE_GENDER',y='percent',hue='TARGET',kind='bar')
plt.show()

In [ ]:
age_df = app_train['DAYS_BIRTH']/-365.2425
print(age_df.describe())
fig, ax = plt.subplots(1,1, figsize=(16,6))
ax1 = sns.distplot(age_df,kde=False,bins=30,hist_kws={"rwidth":0.75,'edgecolor':'black', 'alpha':1.0},ax=ax);
ax1.set_xlim(age_df.min()-5,age_df.max()+5)
ax1.set_title('Age distribution of loanees')
ax1.set_xlabel('Age of loanee')
ax1.set_ylabel('Count')
plt.show()

In [ ]:
emplo_years_df = app_train['DAYS_EMPLOYED']
print(emplo_years_df.describe())
fig, ax = plt.subplots(1,1, figsize=(16,6))
ax1 = sns.distplot(emplo_years_df,kde=False,bins=30,hist_kws={"rwidth":0.75,'edgecolor':'black', 'alpha':1.0},ax=ax);
ax1.set_xlim(emplo_years_df.min()-5,emplo_years_df.max()+5)
ax1.set_title('Employment length distribution of loanees')
ax1.set_xlabel('Length of employment')
ax1.set_ylabel('Count')
plt.show()

In [ ]:
app_train['DAYS_EMPLOYED'].max()

In [ ]:
mask = app_train['DAYS_EMPLOYED'] < app_train['DAYS_EMPLOYED'].max()
print(f'{app_train[~mask].shape[0]} of loans has identical length of employement of loanee and its value is clearly wrong.')

For some reason over 55374  loanees are employed over 1000 years. Also it seems that correct value should be negative.
DAYS_EMPLOYED potentionally could be strong feature, because its reasonable to expect that people who keep one job for long period of time


Its almost 1/6 of train set, so it is important to deal with this issue in reasonable way.

In [ ]:
emplo_years_df = app_train['DAYS_EMPLOYED'].mask(~mask)/-30.4368499
print(emplo_years_df.describe())
fig, ax = plt.subplots(1,1, figsize=(16,6))
ax1 = sns.distplot(emplo_years_df,kde=False,bins=30,hist_kws={"rwidth":0.75,'edgecolor':'black', 'alpha':1.0},ax=ax);
ax1.set_xlim(emplo_years_df.min(),emplo_years_df.max())
ax1.set_title('Employment length distribution of loanees')
ax1.set_xlabel('Length of employment')
ax1.set_ylabel('Count')
plt.show()

In [ ]:
app_train.corr()['TARGET'].sort_values(ascending=False).head(10)

Correlation of features with dependent(target) variable is very low.
Lets look at features with highest positive correlation coefficient, i.e. age of loanee.

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(10,4))
sns.kdeplot(app_train.loc[app_train['TARGET'] == 0, 'DAYS_BIRTH'] / -365.24, label = 'target = 0',ax=ax[0])
sns.kdeplot(app_train.loc[app_train['TARGET'] == 1, 'DAYS_BIRTH'] / -365.24, label = 'target = 1',ax=ax[0])
sns.distplot(app_train.loc[app_train['TARGET'] == 0, 'DAYS_BIRTH'] / -365.24, label = 'target = 0',ax=ax[1])
sns.distplot(app_train.loc[app_train['TARGET'] == 1, 'DAYS_BIRTH'] / -365.24, label = 'target = 1',ax=ax[1])
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(10,4))
ax = sns.distplot(ax=ax, a=app_train['AMT_INCOME_TOTAL'],kde=False)
ticks = ax.axes.get_xticks()
xlabels = ['{:,.0f}'.format(x) for x in ticks]
ax.set_xticklabels(xlabels)
plt.show()

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(10,4))
ax[0] = sns.distplot(ax=ax[0], a=app_train['AMT_INCOME_TOTAL'],kde=False)
ax[1] = sns.distplot(ax=ax[1], a=np.log(app_train['AMT_INCOME_TOTAL']),kde=False)
ticks = ax[0].axes.get_xticks()
xlabels = ['{:,.0f}'.format(x) for x in ticks]
ax[0].set_xticklabels(xlabels)
ax[0].set_xticklabels(ax[0].get_xticklabels(), rotation=45)
ax[0].set_title('distribution')
ax[1].set_title('Log distribution')

plt.show()

In [ ]:
fig, ax = plt.subplots(1,3, figsize=(15,8))
sns.boxplot( x='AMT_INCOME_TOTAL', data=app_train, ax=ax[0], orient='v')
sns.violinplot( x='AMT_INCOME_TOTAL', data=app_train, ax=ax[1],orient='v')
sns.boxenplot( x='AMT_INCOME_TOTAL', data=app_train, ax=ax[2], orient='v')
plt.show()

In [ ]:
app_train.sort_values(by='AMT_INCOME_TOTAL',ascending=False).head(10)

Drop the most extreme outliers

In [ ]:
extreme_outliers = app_train.index[app_train['AMT_INCOME_TOTAL']>4000000].to_list()
print(f'{len(extreme_outliers)} outliers are going to be dropped from total of {app_train.shape[0]} data points.')
app_train.drop(extreme_outliers,inplace=True)

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(10,4))
ax[0] = sns.distplot(ax=ax[0], a=app_train['AMT_INCOME_TOTAL'],kde=False)
ax[1] = sns.distplot(ax=ax[1], a=np.log(app_train['AMT_INCOME_TOTAL']),kde=False)
ticks = ax[0].axes.get_xticks()
xlabels = ['{:,.0f}'.format(x) for x in ticks]
ax[0].set_xticklabels(xlabels)
ax[0].set_title('distribution')
ax[1].set_title('Log distribution')
plt.show()

In [ ]:
fig, ax = plt.subplots(1,3, figsize=(12,4), sharey=True)
sns.boxplot( x='AMT_INCOME_TOTAL', data=app_train, ax=ax[0], orient='v')
sns.violinplot( x='AMT_INCOME_TOTAL', data=app_train, ax=ax[1],orient='v')
sns.boxenplot( x='AMT_INCOME_TOTAL', data=app_train, ax=ax[2], orient='v')
plt.show()

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(10,4))
ax[0] = sns.distplot(ax=ax[0], a=app_train['AMT_CREDIT'],kde=False)
ax[1] = sns.distplot(ax=ax[1], a=np.log(app_train['AMT_CREDIT']),kde=False)
ticks = ax[0].axes.get_xticks()
xlabels = ['{:,.0f}'.format(x) for x in ticks]
ax[0].set_xticklabels(xlabels)
ax[0].set_xticklabels(ax[0].get_xticklabels(), rotation=45)
ax[0].set_title('distribution')
ax[1].set_title('Log distribution')

plt.show()

In [ ]:
fig, ax = plt.subplots(1,3, figsize=(15,8))
sns.boxplot( x='AMT_CREDIT', data=app_train, ax=ax[0], orient='v')
sns.violinplot( x='AMT_CREDIT', data=app_train, ax=ax[1],orient='v')
sns.boxenplot( x='AMT_CREDIT', data=app_train, ax=ax[2], orient='v')
plt.show()

In [ ]:
app_train.corr()['TARGET'].sort_values(ascending=False).head(10)

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(10,4))
sns.kdeplot(app_train.loc[app_train['TARGET'] == 0, 'DAYS_BIRTH'] / -365.24, label = 'target = 0',ax=ax[0])
sns.kdeplot(app_train.loc[app_train['TARGET'] == 1, 'DAYS_BIRTH'] / -365.24, label = 'target = 1',ax=ax[0])
sns.distplot(app_train.loc[app_train['TARGET'] == 0, 'DAYS_BIRTH'] / -365.24, label = 'target = 0',ax=ax[1])
sns.distplot(app_train.loc[app_train['TARGET'] == 1, 'DAYS_BIRTH'] / -365.24, label = 'target = 1',ax=ax[1])
plt.show()

In [ ]:
fig,ax = plt.subplots(1,2, figsize=(18,10))
sns.scatterplot(ax=ax[0], x='AMT_INCOME_TOTAL', y='AMT_CREDIT',hue='TARGET',size='AMT_CREDIT', data=app_train)
sns.scatterplot(ax=ax[1], x=np.log(app_train['AMT_INCOME_TOTAL']), y=np.log(app_train['AMT_CREDIT']),hue='TARGET',size='AMT_CREDIT', data=app_train)
ax[0].set_title('Total Income vs Credit Amount')
ax[1].set_title('Log of Total Income vs Log of Credit Amount')
plt.show()

In [ ]:
days = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [ ]:
fig = plt.figure(figsize=(30,10))
g = sns.heatmap(pd.crosstab(app_train['HOUR_APPR_PROCESS_START'],pd.Categorical(app_train['WEEKDAY_APPR_PROCESS_START'],categories=days)).sort_values('HOUR_APPR_PROCESS_START',ascending=False)\
                ,annot=True, fmt='.0f', cmap="coolwarm", linewidths=0.05)
plt.show()

In [ ]:
continuous_columns = filter_columns(app_train, ['object','int64'],[])

In [ ]:
excl_bureau_enq = ['AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_HOUR']

Correlation of features with dependent variable is very low.
Lets look at feature with highest positive correlation coefficient, i.e. age of loanee.

In [ ]:
g = app_train.groupby('NAME_INCOME_TYPE')['TARGET'].value_counts(normalize=True).mul(100).\
rename('percent').reset_index()\
.pipe((sns.catplot,'data'),x='NAME_INCOME_TYPE',y='percent',hue='TARGET',height=6, aspect=8/4,kind='bar')
(g.set(xlabel='Income Type', ylabel='Percentage',label='Paid Off'),
)
g.fig.suptitle('Percentage of repaid loans based on Income Type',y=1.03)
plt.show()

In [ ]:
fig,ax = plt.subplots(figsize=(12,8))
ax = sns.countplot(x="NAME_INCOME_TYPE", data=app_train)
ax.set_xticklabels(ax.get_xticklabels(),rotation=45)
annotate_countplot(ax,10)
plt.show()

In [ ]:
g = app_train.groupby('NAME_EDUCATION_TYPE')['TARGET'].value_counts(normalize=True).mul(100).\
rename('percent').reset_index()\
.pipe((sns.catplot,'data'),x='NAME_EDUCATION_TYPE',y='percent',hue='TARGET',height=6, aspect=8/4,kind='bar')

In [ ]:
g = app_train.groupby('NAME_FAMILY_STATUS')['TARGET'].value_counts(normalize=True).mul(100).\
rename('percent').reset_index()\
.pipe((sns.catplot,'data'),x='NAME_FAMILY_STATUS',y='percent',hue='TARGET',height=6, aspect=8/4,kind='bar')

In [ ]:
g = app_train.groupby('NAME_TYPE_SUITE')['TARGET'].value_counts(normalize=True).mul(100).\
rename('percent').reset_index()\
.pipe((sns.catplot,'data'),x='NAME_TYPE_SUITE',y='percent',hue='TARGET',height=6, aspect=8/4,kind='bar')

In [ ]:
g = app_train.groupby('NAME_HOUSING_TYPE')['TARGET'].value_counts(normalize=True).mul(100).\
rename('percent').reset_index()\
.pipe((sns.catplot,'data'),x='NAME_HOUSING_TYPE',y='percent',hue='TARGET',height=6, aspect=8/4,kind='bar')

In [ ]:
g = sns.FacetGrid(app_train,col='CODE_GENDER', hue='TARGET', height=10, aspect=1)
g.map(sns.scatterplot,'AMT_INCOME_TOTAL', 'AMT_CREDIT', alpha=.7)
plt.show()